#!/usr/bin/env bash

alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# navigation
alias ll='ls -alFh'
alias la='ls -A'
alias l='ls -AlFh'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias .....='cd ../../../..'
alias j='cd'

# directory
function md
{
    mkdir -p "$1" && cd "$1"
}
alias rm='rm -r'

# disk usage
alias du='du -h'
alias df='df -h'
alias dus='du -hs .'

# user administration
alias ua='sudo useradd'
alias ur='sudo userdel'

# apt
alias apt-install="sudo apt-get install -y --show-progress"
alias apt-remove="sudo apt-get remove -y --show-progress"
alias apt-update="sudo apt-get update -y"
alias apt-upgrade="sudo apt-get upgrade -y"
alias apt-repo="sudo add-apt-repository -y -u"

# internet
alias dw="curl -LO --progress-bar"

# development
alias di="meld ."
alias st="git status -s"
alias ci="git commit"
